<div class="header">
  <div class="container">
    <h1>Music Player</h1>
  </div>
</div>

<div class="artist">
  <div class="container">
    <h2><%= @artist.name %></h2>

    <div class="cards row">
      <% @albums.each do |a| %>
      <div class="card col-xs-4">
        <%= image_tag a.image %>
        <h2><%= a.title %></h2>
        <%= link_to "Tracks", album_path(a) %>
      </div>
      <% end %>
    </div>

  </div>
</div>